@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
/*het main css bestand wordt in alle bestanden bovenaan geimporteerd. dit is dus de core van onze styling
daarom hebben we hier ook als eerst onze huisstijl geimplementeerd. de font wordt geimporteerd en we hebben variablen
aangemaakt voor onze kleuren. Dit maakt het heel makkelijk om ons aan de huisstijl te houden omdat overal waar een kleurgebruikt wordt
moeten we een variable gebruiken. dit maakt het onmogeljik om bij de kleuren af te wijken*/
:root {
  --text: #f3fcfb;
  --background: #081c1b;
  --backgroundAlt: #102322;
  --primary: #36bab8;
  --secondary: #103737;
  --accent: #49cac8;
}
/* 
  dit is een css-reset, de meeste browsers geven van zichzelf meestal wat default styles mee
  waaronder een margin waardoor je meestal een rand rond je content hebt.
  de * selector selecteert alle elementen op de pagina en verwijdert deze default styles.
  box-sizing bepaalt of de padding en borders op een element worden meegerekend in de
  width & height of niet, in dit geval wel.
  voor de links verwijderen we hier de standaard underline en blauwe kleur.
  */
* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  & a {
    color: inherit;
    text-decoration: inherit;
  }
}
/*ook hier maken we gebruik van onze variable om ons gemakkelijk aan de huisstijl te houden. door deze body tag is de achtergrond, font en color op elke pagina
hetzelfde. Dit schept de basis waar de overige css bestanden op kunnen stapelen.*/
body {
  background-color: var(--background);
  font-family: "Inter", sans-serif;
  color: var(--text);
}
