header {
  display: grid;
  grid-template-columns: min-content 1fr;
  padding: 1rem;
  & > a {
    display: grid;
    grid-template-columns: min-content 1fr;
    place-items: center;
  }

  & nav {
    display: grid;
    & ul {
      list-style: none;
      display: grid;
      grid-template-columns: repeat(5, min-content);
      place-items: center;
      justify-self: end;

      & > * {
        padding: 0.3rem 0.6rem;
        border-radius: 0.25rem;
        transition: 0.2s ease-in-out;
      }
      & > *:hover {
        background-color: var(--secondary);
        color: var(--accent);
      }
    }
  }
}
